.footer {
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: 20px;
    font-family: sans-serif;
}

.social-icons {
    display: flex;
    justify-content: center;
}
   
.social-icons a {
    margin: 0 10px;
}
   
.social-icons img {
    width: 48px;
    height: 48px;
    transition: transform 1s;
}
   
.social-icons a:hover img {
    transform: scale(1.75);
}