body {
  font-family: sans-serif;
}
  
label, input, p {
  font-size: 20px;
  line-height: 1.2
}
  
form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}
  
label {
  margin-bottom: 0.4rem;
  display: block;
}
  
input {
  padding: 0.4rem;
  border: 1px solid;
}